<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    
    <!-- Appenders -->
    <appender name="error-file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="C:/Develpment/logs/error.log"/>
        <param name="append" value="true"/>
        <param name="threshold" value="ERROR"/>
        <param name="maxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t][%c] %p - %m%n"/>
        </layout>
    </appender>
    <appender name="trace-file" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="C:/Develpment/logs/trace.log"/>
        <param name="append" value="true"/>
        <param name="threshold" value="INFO"/>
        <param name="maxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} [%t][%c] %p - %m%n"/>
        </layout>
    </appender>


    
    <!-- Root Logger -->
    <root>
        <priority value="INFO" />
        <appender-ref ref="error-file" />
        <appender-ref ref="trace-file" />
    </root>
    
</log4j:configuration>
